<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SB_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN2ZmhueXZwb21iZXJ3Y2pkZGNwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU1MjIxMjIsImV4cCI6MjA4MTA5ODEyMn0.LwVDjPbtgA4iETh3XZJlYlQ2wLYfuJ_AnaIk0MFgDAA</string>
	<key>SB_URL</key>
	<string>https://cvfhnyvpomberwcjddcp.supabase.co
</string>
</dict>
</plist>
